@import '../global/Global';

$primary: #0060b4;
$base-color: #124b7d;
$secondary-color: #ef3536;
$button-background: #146ab3;

.logo{
    position: absolute;
    top:0;
    left: 0;
    text-align:left;
    width: 100%;
    width: 120px;
    left: 1rem;
    top: 1rem;

    img {
        width: 100%;
    }
}

.phone-image-container {
    position: relative;
    width: 350px;
    .phone-image {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.one {
    background-image: url(/About/1SFW.png);
    background-color: $base-color;
    position: relative;
    padding-bottom: 5rem;

    button{
        border-radius: 8px;
    }
    .ring {
        position: absolute;
        left: 5%;
        bottom: 10%;
        width: 200px;

        img {
            width: 100%;
        }
    }
}

.two {
    width: 100%;
    padding: 3rem 0;
    background-color: #f9f9f9;

    .boxes {
        width: 100%;
        position: relative;
        left: 0;
        margin-bottom: 150px;

        .row {
            left: 0;
            position: relative;
            text-align: center;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.three {
    position: relative;
    background-color: #f9f9f9;
    padding: 3rem 0;

    .splash-image {
        position: absolute;
        width: 600px;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -50%);
    }
    .ring-image {
        position: absolute;
        width: 450px;
        right: 0;
        top: 0;
        transform: translate(35%, -48%);
    }
}
.four{
    color:#fff;
    .shape{
        height:60vh;
        width: 100%;
        position: relative;
        background:$base-color;
        
        .text-container{
            position: absolute;
            text-align: center;
            align-items: center;
            width: 400px;
            top:25%;
            right: 35%;
            line-height:50px;
        }
        .image-container{
            img{
                position: absolute;
                width:40%;
                top:-50%;
            }
        }
    }
}
.five{
    position: relative;
        .white{
            position: relative;
            .text-container{
                position: absolute;
                width:350px;
                left: 20%;
                top:150px;
                p{
                    position: relative;
                    top:40px;
                    color:rgba(0, 0, 0,0.75);
                }
            }
            .image-container{
                position: relative;
                top:150px;
                right:15%;
                width:80%;
                .phone{
                    width: 350px;
                }
                .ring{
                    position: absolute;
                    width: 300px;
                    bottom: 0;
                    left:0;
                }
            }
        }
        .blue{
            position: relative;
            background:$base-color;
            height:30vh;
            width: 100%;
            margin-bottom: 100px;
        }
}
.six{
    width: 100%;
    position: relative;
    .shape{
        position: relative;
        background:$base-color;
        width:100%;
        height:70vh;
        .image-container{
            width: 80%;
            img{
                width:50%;
            }
        }
        .text-container{
            position: relative;
            width: 50%;
            left:150px;
            p{
                position: relative;
                top:20px;
                margin-bottom: 80px;
            }
            button{
                border-radius:8px;
            }
        }
    }
}
.seven{
    position: relative;
    height:123vh;
    background:$primary;
    .image-container{
        width: 350px;
        position: absolute;
        left:30%;
        top:20vh;
        img{
            width:100%;
        }
    }
    .text-container{
        position: absolute;
        right:40%;
        top:20vh;
        color:#fff;
        p{
            position: relative;
            top:30px;
        }

    }
}
.eight{
    position: relative;
    height:40vh;
    background:$primary;
    .button-container{
        position: absolute;
        left:18%;
        width:350px;
        justify-content:center;
        text-align:center;
        button{
            margin:5px 3px;
            padding:10px 30px;
            border-radius: 8px;
        }
    }
}
@import './Responsive';