@import '../global/Global';

$primary: #0060b4;
$base-color: #124b7d;
$secondary-color: #ef3536;
$button-background: #146ab3;

.logo{
    position: absolute;
    top:0;
    left: 0;
    text-align:left;
    width: 100%;
    width: 120px;
    left: 1rem;
    top: 1rem;

    img {
        width: 100%;
    }
}

.phone-image-container {
    position: relative;
    width: 350px;
    .phone-image {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.one {
    background-image: url(/About/1SFW.png);
    background-color: $base-color;
    position: relative;
    padding-bottom: 5rem;

    .ring {
        position: absolute;
        left: 5%;
        bottom: 10%;
        width: 200px;

        img {
            width: 100%;
        }
    }
}

.two {
    width: 100%;
    padding: 3rem 0;
    background-color: #f9f9f9;

    .boxes {
        width: 100%;
        position: relative;
        left: 0;
        margin-bottom: 150px;

        .row {
            left: 0;
            position: relative;
            text-align: center;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.three {
    position: relative;
    background-color: #f9f9f9;
    padding: 3rem 0;

    .splash-image {
        position: absolute;
        width: 600px;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -50%);
    }
    .ring-image {
        position: absolute;
        width: 450px;
        right: 0;
        top: 0;
        transform: translate(35%, -48%);
    }
}

@import './Responsive';