@import '../global/Global';

$primary: #0060b4;
$base-color: #124b7d;
$secondary-color: #ef3536;
$button-background: #146ab3;
$blue-black: #030e2a;
$blue-background: #152549;

body {
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    width: 120px;
    left: 1rem;
    top: 1rem;

    img {
        width: 100%;
    }
}

.phone-image-container {
    position: relative;
    width: 350px;

    .phone-image {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.one {
    background-image: url(/About/1SFW.png);
    background-color: $base-color;
    position: relative;
    padding-bottom: 10rem;
    overflow: hidden;

    button {
        border-radius: 8px;
        font-size: 16px;
    }

    .ring-image {
        position: absolute;
        left: 70px;
        bottom: 210px;
        width: 250px;
    }

    .wave-image {
        width: 100%;
        position: absolute;
        bottom: -140px;
    }

    .text {
        color: #fff;

        h3 {
            margin-bottom: 1rem;
        }
    }
}

.two {
    width: 100%;
    padding: 3rem 0;
    background-color: #eff0f2;


    .cart {
        img {
            width: 100%;
        }
    }
}

.three {
    position: relative;
    background-color: #eff0f2;
    padding-top: 3rem;

    .splash-image {
        position: absolute;
        width: 600px;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -50%);
    }

    .ring-image {
        position: absolute;
        width: 450px;
        right: 0;
        top: 0;
        transform: translate(35%, -48%);
    }
}

.four {
    position: relative;
    color: #fff;
    height: 60vh;
    background: $blue-black;
    text-align: center;

    .flower-image {
        position: absolute;
        top: 0;
        right: 5%;
        transform: translate(0, -50%);
        width: 200px;
    }
}

.five {
    position: relative;
    background: $blue-black;
    overflow: hidden;
    padding: 15rem 0 0;

    .image-container {
        width: 250px;
        margin-right: auto;
        position: relative;
        left: -50px;
        top: -40px;
        img {
            width: 100%;
        }
    }
    .wave-background {
        position: absolute;
        top: -130px;
        left: 0;
        width: 100%;
    }
}

.six {
    position: relative;
    background: $blue-background;
    display: flex;
    justify-content: center;
    align-items: center;

    .image-container {
        img {
            width: 50%;
        }
    }

    .text-container {
        color: #fff;

        h3 {
            margin-bottom: 1rem;
        }

        button {
            border-radius: 8px;
        }
    }
}

.seven {
    position: relative;
    background: $blue-black;

    .text-container {
        color: #fff;

        h3 {
            margin-bottom: 1.5rem;
        }
    }

    .download-link {
        display: flex;
        align-items: center;
        font-size: 16px;
        flex: 1;
        padding-top: .5rem;
        padding-bottom: .5rem;

        i {
            font-size: 24px;
            margin-left: .5rem;
        }
    }
}

.eight {
    position: relative;
    height: 40vh;
    background: $primary;

    .button-container {
        position: absolute;
        left: 18%;
        width: 350px;
        justify-content: center;
        text-align: center;

        button {
            margin: 5px 3px;
            padding: 10px 30px;
            border-radius: 8px;
        }
    }
}

@import './Responsive';