@import './Settings';
@import './Tables';
@import './Links';
@import './Popup';
@import './Responsive';

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
}

* {
    box-sizing: border-box;
}

[dir=rtl] {
    direction: rtl !important;
}

.datepicker-plot-area {
    font-family: IRANSans;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

// direction
.dir-ltr {
    direction: ltr !important;
}

.dir-rtl {
    direction: rtl !important;
}

.single-line-three-dots {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}