
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn)_Bold.eot');
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn)_Bold.eot?#iefix') format('embedded-opentype'),
		url('../../../vendor/fonts/iran-sans/woff2/IRANSansWeb(NoEn)_Bold.woff2') format('woff2'),
		url('../../../vendor/fonts/iran-sans/woff/IRANSansWeb(NoEn)_Bold.woff') format('woff'),
		url('../../../vendor/fonts/iran-sans/ttf/IRANSansWeb(NoEn)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn)_Medium.eot');
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn)_Medium.eot?#iefix') format('embedded-opentype'),
		url('../../../vendor/fonts/iran-sans/woff2/IRANSansWeb(NoEn)_Medium.woff2') format('woff2'),
		url('../../../vendor/fonts/iran-sans/woff/IRANSansWeb(NoEn)_Medium.woff') format('woff'),
		url('../../../vendor/fonts/iran-sans/ttf/IRANSansWeb(NoEn)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn)_Light.eot');
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn)_Light.eot?#iefix') format('embedded-opentype'),
		url('../../../vendor/fonts/iran-sans/woff2/IRANSansWeb(NoEn)_Light.woff2') format('woff2'),
		url('../../../vendor/fonts/iran-sans/woff/IRANSansWeb(NoEn)_Light.woff') format('woff'),
		url('../../../vendor/fonts/iran-sans/ttf/IRANSansWeb(NoEn)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn)_UltraLight.eot');
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn)_UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../../../vendor/fonts/iran-sans/woff2/IRANSansWeb(NoEn)_UltraLight.woff2') format('woff2'),
		url('../../../vendor/fonts/iran-sans/woff/IRANSansWeb(NoEn)_UltraLight.woff') format('woff'),
		url('../../../vendor/fonts/iran-sans/ttf/IRANSansWeb(NoEn)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn).eot');
	src: url('../../../vendor/fonts/iran-sans/eot/IRANSansWeb(NoEn).eot?#iefix') format('embedded-opentype'),
		url('../../../vendor/fonts/iran-sans/woff2/IRANSansWeb(NoEn).woff2') format('woff2'),
		url('../../../vendor/fonts/iran-sans/woff/IRANSansWeb(NoEn).woff') format('woff'),
		url('../../../vendor/fonts/iran-sans/ttf/IRANSansWeb(NoEn).ttf') format('truetype');
}


@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../../../vendor/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../../../vendor/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 100;
	src: url('../../../vendor/fonts/roboto/Roboto-Light.ttf') format('truetype');
}


@font-face {
	font-family: "DYekan";
	src: local('â˜º'), url("../../fonts/DimaYekanWeb.woff") format("woff"),
		url("../../fonts/dyekan/DimaYekanWeb.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "DYekan";
    src: local('â˜º'), url("../../fonts/dyekan/DimaYekanWebBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: "digikala";
	src: local('â˜º'), url("../../fonts/digikala/digikala.eot");
	font-weight: normal;
	font-style: normal;
}

